# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Logs
*.log
logs/
*.tmp

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# YouTube uploader outputs
output/
uploaded.json

# Secrets
*.env
YT_CLIENT_ID
YT_CLIENT_SECRET
YT_REFRESH_TOKEN
YOUTUBE_API_KEY
GH_PAT

# Misc
*.bak
*.swp
